<section class="footer">

    <div class="box-container">
 
       <div class="box">
          <h3>Быстрые ссылки</h3>
          <a routerLink="/"> <i class="fas fa-angle-right"></i> Главная</a>
          <a routerLink="/about"> <i class="fas fa-angle-right"></i> О нас</a>
          <a routerLink="/catalog"> <i class="fas fa-angle-right"></i> Категории</a>
       </div>
 
       <div class="box">
          <h3>Контакты</h3>
          <a href=""> <i class="fas fa-phone"></i> +7 (953) 544-04-99 </a>
          <a href="https://vk.com/parfumdelame_ru" target="_blank"> <i class="fab fa-vk"></i> vk.com/parfumdelame_ru </a>
          <a href=""> <i class="fas fa-map"></i> ул. Анохина, д. 41, Петрозаводск </a>
       </div>
 
    </div>
 
    <div class="credit">all rights reserved! </div>
 
 </section>