<section class="services">

   <h1 class="heading-title"> Категории товаров </h1>

   <div class="box-container">

      <div class="box" (click)="sortByCategories(0)">
         <img src="../assets/icon-1.png" alt="image">
         <h3>Парфюмерия</h3>
      </div>
      <div class="box" (click)="sortByCategories(1)">
         <img src="../assets/icon-2.png" alt="image">
         <h3>Благовония</h3>
      </div>
      <div class="box" (click)="sortByCategories(2)">
         <img src="../assets/icon-3.png" alt="image">
         <h3>Свечи ароматические</h3>
      </div>
      <div class="box" (click)="sortByCategories(3)">
         <img src="../assets/icon-4.png" alt="image">
         <h3>Диффузоры</h3>
      </div>
      <div class="box" (click)="sortByCategories(4)">
         <img src="../assets/icon-5.png" alt="image">
         <h3>Масла косметические</h3>
      </div>

   </div>

</section>

<section class="packages">

    <h1 class="heading-title">Каталог</h1>
 
    <div class="box-container">
 
       <div class="box" *ngFor="let product of products">
          <div class="image">
             <img src="{{ product.image }}" alt="">
          </div>
          <div class="content">
             <h3>{{ product.name }}</h3>
             <p>{{ product.about }}</p>
             <a href="{{ product.link }}" target="_blank" class="btn">Подробнее</a>
          </div>
       </div>
 
    </div>

</section>